
         <div class="form-container form-container--block">
         <h2 class="form-container__title">Sobre mí</h2>
         <p class="form-container__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime a nostrum mollitia unde modi at, iste excepturi animi aut doloribus temporibus repellendus ut commodi totam minus libero voluptates nam. Dolores dolorem aliquid iusto asperiores. Accusamus adipisci rerum in praesentium deserunt aspernatur odit nihil, repellendus, sunt vero explicabo iure odio, expedita dolore natus. Fugit neque natus fugiat architecto molestias ullam corrupti! Dolorem, suscipit, deserunt similique quod obcaecati corporis, fugit alias quo eos aliquid cumque omnis libero explicabo non aperiam accusamus eligendi maxime error repellendus. Pariatur natus, esse asperiores, vel in similique eveniet voluptatem totam eligendi veritatis nihil doloremque, atque repellat ea!
         </p>
         
      </div>


